html, body
    padding: 0
    margin: 0
body
    background-color: rgb(252, 252, 252)
.hotred
    color: rgb(250, 20, 20)
.gradient-text
    background-image: linear-gradient(120deg, #40ffca, #9a76a4, #da0e7f)
    background-clip: text
    color: transparent
    
:root
    // **************** Colors ****************
    --color-white: #fff
    --color-white-a: #ffffff7e
    --color-white-b: #ffffffc7
    --color-white-c: #ffffffe4

    --color-dark: #333131
    --color-dark-a: #33313149

    --color-success: #42fc48

    // Brand
    --color-brand-1: #e52949
    --color-brand-1a: #e5294825
    --color-brand-1b: #e5294849
    --color-brand-2: #993333
    --color-brand-2a: #99333350
    --color-brand-3: #030b5d
    --color-brand-4: #F8A807
    --color-brand-4a: #f8a8072c

    // Borders
    --color-border-1: #e7ebf0

    // Backgrounds
    --color-bg-1: #f8f9fb
    --color-bg-2: #fef5ee
    --color-bg-3: #f4f4f6

@keyframes border-blink
    0%
        border: 1px var(--color-brand-1a) solid
    50%
        border: 1px var(--color-brand-1b) solid

.gradient-text
    font-weight: bold
    background-image: linear-gradient(120deg, var(--color-brand-1), var(--color-brand-4))

.v-enter-active, .v-leave-active 
    transition: opacity 0.2s ease
.v-enter-from, .v-enter-to
    opacity: 0

a
    text-decoration: none
    color: inherit
    &:visited
        color: inherti