html, body
    padding: 0
    margin: 0
body
    background-color: rgb(252, 252, 252)
.hotred
    color: rgb(250, 20, 20)
.gradient-text
    background-image: linear-gradient(120deg, #40ffca, #9a76a4, #da0e7f)
    background-clip: text
    color: transparent
    